body {
    color: white;
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWJyMzV4aGxwa21rZXZmOGZneW4zcXNsZjluYXI4eXExNnVueG8xMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26gsvA7sDa86fDu6s/giphy.webp");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main-logo {
    width: 100px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

.underline {
    border-bottom: 4px solid white;
}
   