/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: green;     /* red, blue, yellow, etc */
    color: greenyellow;            /* red, blue, yellow, etc */
    font-size: 25;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 15;        /* From 0px and upwards   */
    .text {
        text-shadow: black 0 -2px;
    }

}





